<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="noobz69.sltc.pharmacyhubmobileclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmacyHubMobileClient">
        <activity
            android:name=".customerview.SearchResults"
            android:exported="true" />
        <activity
            android:name=".customerview.SearchPage"
            android:exported="true" />
        <activity
            android:name=".customerview.MedicineDescription2"
            android:exported="true" />
        <activity
            android:name=".basic.GettingStarted3"
            android:exported="true" />
        <activity
            android:name=".basic.GettingStarted2"
            android:exported="true" />
        <activity
            android:name=".customerview.NottificationsPage"
            android:exported="true" />
        <activity
            android:name=".customerview.PrescriptionSuccessfull"
            android:exported="true" />
        <activity
            android:name=".customerview.PrescriptionConfirm"
            android:exported="true" />
        <activity
            android:name=".customerview.PrescriptionUpload"
            android:exported="true" />
        <activity
            android:name=".customerview.Aboutus"
            android:exported="true" />
        <activity
            android:name=".customerview.PrescriptionDetails"
            android:exported="true" />
        <activity
            android:name=".customerview.OrdersPage"
            android:exported="true" />
        <activity
            android:name=".customerview.Checkout"
            android:exported="true" />
        <activity
            android:name=".customerview.AllMedicines"
            android:exported="true" />
        <activity
            android:name=".customerview.Cart"
            android:exported="true" />
        <activity
            android:name=".customerview.MedicineDescription"
            android:exported="true" />
        <activity
            android:name=".customerview.PharmacyMedicines"
            android:exported="true" />
        <activity
            android:name=".customerview.PharmacyContactInformation"
            android:exported="true" />
        <activity
            android:name=".customerview.PharmacyMenu"
            android:exported="true" />
        <activity
            android:name=".customerview.Pharmacies"
            android:exported="true" />
        <activity
            android:name=".customerview.NotificationSettings"
            android:exported="true" />
        <activity
            android:name=".customerview.AddReminders"
            android:exported="true" />
        <activity
            android:name=".customerview.Reminders"
            android:exported="true" />
        <activity
            android:name=".customerview.Contactus"
            android:exported="true" />
        <activity
            android:name=".customerview.EditProfile"
            android:exported="true" />
        <activity
            android:name=".customerview.Settings"
            android:exported="true" />
        <activity
            android:name=".customerview.Homepage"
            android:exported="true" />
        <activity
            android:name=".basic.Login"
            android:exported="true" />
        <activity
            android:name=".basic.Signup"
            android:exported="true" />
        <activity
            android:name=".basic.GettingStarted4"
            android:exported="true" />
        <activity
            android:name=".basic.GettingStarted1"
            android:exported="true" />
        <activity
            android:name=".basic.GetStarted"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>